name: e2e Test

on: [push, pull_request]

jobs:
  test-crwaler:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    name: Python ${{ matrix.python-version }} sample
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install ffmpeg

      - name: Initialize venv and install packages
        run: |
          just create-venv
          just install-deps
          just install

      - name: e2e without subprocess
        run: |
          just run -v
          just run -h
          just run https://www.bilibili.com/video/BV1AZ4y147Yg -w -y
          just clean

      - name: e2e test
        run: |
          just ci-e2e-test
