name: e2e Test

on: [push, pull_request]

jobs:
  test-crwaler:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    name: Python ${{ matrix.python-version }} sample
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install packages
        run: |
          pip install -r requirements.txt

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install ffmpeg

      - name: e2e without subprocess
        run: |
          python3 -m bilili -v
          python3 -m bilili -h
          python3 -m bilili https://www.bilibili.com/video/BV1AZ4y147Yg -w -y
          find . -name "*- bilibili" -print0 | xargs -0 rm -rf

      - name: e2e test
        run: |
          pip install pytest
          pytest -m "e2e and not ci_skip"
